#main {
background-color: #FFFAF0;
font-family: serif;
text-align: justify;
}

ul {
list-style-type: none;
overflow: hidden;
background-color: #111111;
padding-left: 350px;
    
}
li {
    float: left;
    padding: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}
#content {
    text-align: inherit;
    padding-left: 380px;
}